/* RESET, VARS, MIXINS */
body, a {
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

:root {
  font-size: 14px;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  :root {
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 760 - 480)));
  }
}

@media screen and (min-width: 760px) {
  :root {
    font-size: 18px;
  }
}

/* BASE */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

/* BASE/COMMON */
body {
  background: #6F292D;
  color: white;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  will-change: background;
}

a {
  color: white;
}

a:hover {
  color: #3E3838;
}

img {
  max-width: 100%;
}

.section {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 100vh;
  border: 1px solid green;
}

/*.content__text {
  max-width: 30vmax;
}
.content__img {
   max-height: 20vmax;
}*/
/*.section {
    width: 100%;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
    padding-left: 2vw;
    padding-right: 2vw;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    height: 100vh;
  }
  .content__text {
    max-width: 30vmax;
  }
  .content__img {
     max-height: 20vmax;
  }*/
/*
  .content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    @include mediaQuerie(small) {
      flex-direction: column;
     // align-self: center;
      //justify-content: stretch;
    }
    //align-items: center;
    //margin-top: 15vh;
    //padding-top: $padding2;
    //vertical-align: middle;
  }
  .content__text {
    flex: 1;
    
    align-self: center;
    
    //padding-left: $padding1;
    
    max-width: 30vmax;
   // padding: $padding2;
  }
  .content__img {
    flex: 1;
    align-self: center;
    //display: block;
    max-width: 20vmax;
   // padding: $padding2;
  }
  */
.intro {
  background-image: url("../img/capaalta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .intro {
    background-image: url("../img/capabaixa.jpg");
  }
}

.intro__title {
  max-width: 75vw;
  text-align: center;
  margin-bottom: 1vh;
}

.intro__quote {
  font-style: italic;
}

.intro__logo {
  margin-bottom: 20vh;
}

@media screen and (max-width: 1200px) {
  .intro__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8vmax;
  }
}

@media screen and (max-width: 760px) {
  .intro__logo {
    margin-bottom: 12vmax;
  }
}

.intro__img {
  max-width: 6vmax;
  margin-right: 2vw;
}

@media screen and (max-width: 1200px) {
  .intro__img {
    margin-right: 0;
    max-width: 8vw;
  }
}

@media screen and (max-width: 760px) {
  .intro__img {
    max-width: 12vw;
  }
}

.intro__name {
  max-width: 18vmax;
}

@media screen and (max-width: 1200px) {
  .intro__name {
    max-width: 24vw;
  }
}

@media screen and (max-width: 760px) {
  .intro__name {
    max-width: 36vw;
  }
}

@-webkit-keyframes scrollDown {
  from {
    bottom: 3vh;
  }
  to {
    bottom: 2vh;
  }
}

@keyframes scrollDown {
  from {
    bottom: 3vh;
  }
  to {
    bottom: 2vh;
  }
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  bottom: 2vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3vmax;
  width: 2vmax;
  background: url("../img/seta2.svg") no-repeat center center;
  -webkit-animation: scrollDown 1s ease-in 0s infinite alternate;
          animation: scrollDown 1s ease-in 0s infinite alternate;
}

.logo {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  max-width: 3vmax;
  margin-bottom: 1vh;
}

.logo__name {
  max-width: 9vmax;
}

.logo--hidden {
  -webkit-animation: yourCustomAnimation .5s;
          animation: yourCustomAnimation .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes yourCustomAnimation {
  from {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes yourCustomAnimation {
  from {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 2vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.no-touch #cd-vertical-nav li {
  text-align: right;
}

.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.no-touch #cd-vertical-nav a:hover .nav__label {
  opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .nav__dot {
  background-color: white;
}

.no-touch #cd-vertical-nav .nav__dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.2s;
  transition: background-color 0.5s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s, -webkit-transform 0.2s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.no-touch #cd-vertical-nav .nav__label {
  position: relative;
  margin-right: 5px;
  padding: .4em .5em;
  color: white;
  font-size: 0.75rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 33px;
  width: 33px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.7);
}

.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #000000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}

.touch .cd-nav-trigger span::before {
  top: -9px;
}

.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.7);
}

.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

.touch #cd-vertical-nav a span:first-child {
  display: none;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}

.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}

.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}

.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}

.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}

.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}

.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

.container {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 5fr 2fr 2fr 1fr;
  grid-template-rows: minmax(10vh, auto) minmax(70vh, auto);
  grid-template-areas: "title title title ." "text img img .";
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10vmin 40vmin 25vmin;
    grid-gap: 2%;
    grid-template-areas: "title" "text" "img";
  }
}

.container__title {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: title;
  border: 1px dashed pink;
}

.container__text {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: text;
  border: 1px dashed yellow;
}

@media screen and (max-width: 1200px) {
  .container__text {
    max-width: 100%;
  }
}

.container__img {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: img;
  border: 1px dashed blue;
}

@media screen and (max-width: 1200px) {
  .container__img {
    max-width: 100%;
  }
}

.container2 {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 4fr 1fr 3fr 1fr;
  grid-template-rows: minmax(10vh, auto) minmax(70vh, auto);
  grid-template-areas: "title title title ." "insta list info .";
}

@media screen and (max-width: 1200px) {
  .container2 {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: 10vmin 40vmin 10vmin 15vmin;
    grid-gap: 2%;
    grid-template-areas: "title"     "insta" "list" "info";
  }
}

.container2__insta {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: insta;
  border: 1px dashed brown;
}

@media screen and (max-width: 1200px) {
  .container2__insta {
    max-width: 100%;
  }
}

.container2__list {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: list;
  border: 1px dashed green;
}

@media screen and (max-width: 1200px) {
  .container2__list {
    max-width: 100%;
  }
}

.container2__info {
  margin-top: 0;
  margin-bottom: 0;
  grid-area: info;
  border: 1px dashed purple;
}

@media screen and (max-width: 1200px) {
  .container2__info {
    max-width: 100%;
  }
}

/* h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
  }*/
/*a {
    font-weight: 700;
    color: #373B44;
     position: relative;
    
    &:hover{ 
      opacity: 0.8;
    }
    
    &:active {
      top: 1px;
    }
  }*/
/*footer {
    padding: 1% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    
    a {
      color: #FE4B74;
      font-weight: 500;
      text-decoration: none;
    }
  }*/
.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
