////////////////////
// Sizing
////////////////////
// Site Width
$width: 960px;
// Default Padding
$padding1: 2%;
$padding2: 5%;

////////////////////
// Media Queries
////////////////////
$mediasmall: 480;
$mediamid: 760;
$medialarge: 1200;

////////////////////
// Colors
////////////////////
$colorp1: #9D2E33;
$colors2: #C74346;
$colorp3: #FF5D65;
$colors1: #3E3838;
$colors2: white;
$colort1: #6F3D48;
$colort2: #6F292D;

////////////////////
// Font
////////////////////
$fontsizemin: 14;
$fontsizemax: 18;
$fontfamilyp: 'Montserrat', sans-serif;
$fontfamilys: 'Playfair Display', serif;

////////////////////
// Image Swaping
////////////////////
$imagesmall: imgS;
$imagemid: imgM;